@media(max-height: 820px){
    .small-parts_820px{
        display: inline;
    }
    .aside-contact-details{
        width: 20%;
    }
    .aside-about-yourself{
        width: 80%;
    }
    .small-parts{
        display: none;
    }
    .image{
        width: 200px;
        height: 200px;
    }
    .small-parts__group{
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
    }
    .part{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 370px;
    }
}
@media(max-height: 700px), (max-width:1050px){
    .aside-contact-details{
        display: none;
    }
    .aside-about-yourself{
        width: 100%;
    }
    .my-person{
        margin-bottom: 20px;
        display: flex;
        gap: 50px;
    }
    .image_adaptive{
        display: inline;
    }
    .image{
        width: 200px;
        height: 200px;
    }
    .my-person__image-and-name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: 40%; */
    }
    .name{
        font-size: 18px;
        text-align: center;
    }
    .profession{
        font-size: 14px;
        text-align: center;
    }
    .my-person-desc{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .head-title{
        margin-top: 16px;
    }
    h4{
        margin-top: 16px;
    }
    .aside-contant-details-700px{
        display: flex;
        justify-content: space-around;
    }
    .asides-wrapper{
        padding: 10px 0;
        flex-direction: column;
        justify-content: space-between;
    }
}
@media(max-width: 1050px){
    .image{
        width: 190px;
        height: 190px;
    }
}
@media(max-width: 950px){
    .img-detail{
        display: none;
    }
}
@media(max-height: 685px), (max-width:990px){
    .image{
        width: 150px;
        height: 150px;
    }
    .education-desc{
        display: none;
    }
}
@media(max-height: 620px), (max-width:900px){
    p, a{
        font-size: 12px;
    }
}
@media(max-height: 580px), (max-width:840px){
    .name{
        font-size: 16px;
    }
    .profession{
        font-size: 12px;
    }
    .head-title, h4{
        font-size: 12px;
    }
}
@media(max-height: 560px), (max-width:820px){
    .image{
        width: 120px;
        height: 120px;
    }
    .profession{
        display: none;
    }
    .desc-one{
        display: none;
    }
    .my-person{
        margin-bottom: 8px;
    }
}
@media(max-height: 500px), (max-width:750px){
    .image{
        width: 110px;
        height: 110px;
    }
    .name{
        font-size: 14px;
    }
    .ongoing-work{
        display: none;
    }
    .detail_adress{
        display: none;
    }
    .my-history{
        display: none;
    }
    .my-history_small-size{
        display: inline;
    }
}
@media(max-width:500px){
    .head-title, h4, p, a{
        font-size: 10px;
    }
}
@media(max-height: 725px), (max-width:870px){

}